.visible {
  display: block;
}
.hidden {
  display: none;
}
body {
}

.main-container {
  margin-top: 100px;
  /* border: 2px solid red; */
  display: flex;
  margin-left: 600px;
  width: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.final {
  display: flex;
  background-color: white;
  width: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2 {
  margin-bottom: 10px;
}

.form {
  display: flex;
  padding: 7px;
}

.form-container {
  /* margin-left: 600px; */
  /* margin-top: 100px; */
  background-color: white;
}

.input-label {
  padding: 10px;
}

.button {
  /* margin-left: 640px; */
  background-color: blue;
  color: white;
}
.out-button {
  padding: 10px;
}
